/*
 * Tokyo Night Color Palette
 */
@define-color mainBg rgba(26, 27, 38, 0.5);
@define-color secondaryBg rgba(26, 27, 38, 0.3);
@define-color primary #A9B1D6;

@define-color tn-bg #1A1B26;
@define-color tn-bg-alt #1f2335;
@define-color tn-fg #c0caf5;

@define-color tn-blue #7aa2f7;
@define-color tn-cyan #7dcfff;
@define-color tn-red #f7768e;
@define-color tn-orange #ff9e64;
@define-color tn-yellow #e0af68;
@define-color tn-green #9ece6a;

@define-color theme-text-primary #c0caf5;
@define-color theme-dark #1A1B26;
@define-color theme-green #9ECE6A;
@define-color theme-orange #FF9E64;
@define-color theme-red #F7768E;
@define-color theme-blue #7AA2F7;
@define-color theme-yellow #E0AF68;
@define-color theme-light-accent #BB9AF7;
@define-color theme-secondary-accent #73DACB;
@define-color theme-terciary-accent #2AC3DE;
@define-color theme-quartenary-accent #BB9AF7;


* {
    padding: 0;
}

/* Waybar background */
window#waybar {
    background: @mainBg;
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 12px;
    color: @tn-fg;
    padding: 0;
}

.modules-center {
    padding: 0;
}

/*
 * Virtual Desktops (cffi/virtual-desktops as #waybar-vd)
 */
#waybar-vd {
    padding: 0px 5px 0 0;
    background: transparent;
    margin-left: 10px;
}

#waybar-vd button {
    color: #414868;
    font-weight: normal;
    font-size: 0px;
    font-family: inherit;
    padding: 0;
    margin: 0;
    transition: none;
    color: transparent;
    background-image: url("./resources/img/inactive-vdesk.svg");
    background-repeat: no-repeat;
    background-size: 7px 7px;
    background-position: center center;
    min-width: 15px;
}

#waybar-vd button.hover,
#waybar-vd button.vdesk-unfocused,
#waybar-vd button:hover {
    border: none;
    box-shadow: none;
    padding: 0;
    color: transparent;
}

#waybar-vd button.vdesk-focused {
    color: transparent;
    padding: 0px 5px;
    background-image: url("./resources/img/active-vdesk.svg");
    background-repeat: no-repeat;
    background-size: 24px 7px;
    background-position: center center;
}

#waybar-vd button.vdesk-focused.hover {
    border: none;
    box-shadow: none;
    color: transparent;
}

#window {
    background-color: @theme-dark;
    font-size: 14px;
    border-bottom: 1px solid @theme-yellow;
    padding: 8px 15px;
}

/*
 * Clock
 */
#clock {
    color: @primary;
    background: @theme-dark;
    padding: 8px 15px;
    font-size: 14px;
    border-bottom: 1px solid @theme-light-accent;
}

/* #clock .tt {} */

/*
 * System tray
 */
#tray {
    padding: 0 8px;
}

#tray>.passive {
    opacity: 0.5;
}

#tray>.active {
    opacity: 1.0;
}

#tray>.needs-attention {
    background: @tn-red;
}


/*
 * Battery
 */
#battery.charging {
    color: @tn-green;
}

#battery.warning {
    color: @tn-orange;
}

#battery.critical {
    color: @tn-red;
}

/*
 * Backlight
 */
#backlight {
    color: @tn-yellow;
}

/*
 * CPU / Memory
 */
#cpu {
    color: #FF9E64;
    background-color: black;
    padding: 5px 10px;
    font-size: 14px;
}

#memory {
    color: @primary;
    padding-right: 15px;
}

/*
 * Sound
 */
#pulseaudio {
    padding: 8px 15px 8px 35px;
    background-color: @theme-dark;
    background-repeat: no-repeat;
    background-position: 14px center;
    color: @theme-text-primary;
    border-bottom: 1px solid @theme-secondary-accent;
}

#pulseaudio.normal {
    background: url("./resources/img/volume-low.svg");
    background-repeat: no-repeat;
    background-position: 14px center;
}

#pulseaudio.high {
    background: url("./resources/img/volume-high.svg");
    background-repeat: no-repeat;
    background-position: 14px center;
}

#pulseaudio.muted,
#pulseaudio.low {
    background: url("./resources/img/volume-muted.svg");
    background-repeat: no-repeat;
    background-position: 14px center;
}

/**
* custom recording
*/
#custom-rec.recording {
    color: #ff3333;
    font-weight: 700;
}

#custom-cpu {
    padding: 8px 15px 8px 35px;
    background-color: @theme-dark;
    background-image: url("./resources/img/cpu.svg");
    background-repeat: no-repeat;
    background-position: 14px center;
    border-bottom: 1px solid @theme-green;
    font-size: 14px;
}

#custom-cpu.low {
    color: @theme-text-primary;
}

#custom-cpu.normal {
    color: @theme-green;
}

#custom-cpu.high {
    color: @theme-orange;
}

#custom-cpu.limit {
    color: @theme-red;
}

#custom-memory {
    background-color: @theme-dark;
    padding: 8px 15px 8px 35px;
    background-image: url("./resources/img/ram.svg");
    background-repeat: no-repeat;
    background-position: 14px center;
    font-size: 14px;
    border-bottom: 1px solid @theme-orange;
}

#custom-memory.normal {
    color: @theme-text-primary;
}

#custom-memory.normal {
    color: @theme-green;
}

#custom-memory.high {
    color: @theme-orange;
}

#custom-memory.limit {
    color: @theme-red;
}

#custom-mic.low {
    padding: 8px 15px 8px 35px;
    background-position: 14px center;
    font-size: 14px;
    border-bottom: 1px solid @theme-terciary-accent;
    background-color: @theme-dark;
    background-image: url("./resources/img/mic-disconnected.svg");
    background-repeat: no-repeat;
}

#custom-mic.normal {
    padding-left: 20px;
    background: url("./resources/img/mic-connected.svg");
    background-repeat: no-repeat;
    background-position: left center;
    margin-right: 10px;
}

#network {
    padding: 8px 0px 8px 20px;
    background-position: 14px center;
    font-size: 14px;
    border-bottom: 1px solid @theme-terciary-accent;
    background-color: @theme-dark;
    background: url("./resources/img/wifi-disconnected.svg");
    background-repeat: no-repeat;
}

#network.disabled {
    background: url("./resources/img/wifi-disconnected.svg");
    background-repeat: no-repeat;
    background-position: center center;
}

#network.disconnected {
    background: url("./resources/img/wifi-disconnected.svg");
    background-repeat: no-repeat;
    background-position: center center;
}

#network.ethernet {
    background: url("./resources/img/link.svg");
    background-repeat: no-repeat;
    background-position: center center;
}

#network.wifi {
    background: url("./resources/img/wifi-connected.svg");
    background-repeat: no-repeat;
    background-position: center center;
}

#custom-bluetooth {
    padding: 8px 0px 8px 20px;
    background-position: 14px center;
    font-size: 14px;
    border-bottom: 1px solid @theme-blue;
    background-color: @theme-dark;
    background-repeat: no-repeat;
}

#custom-bluetooth.off {
    background: url("./resources/img/bluetooth-failed.svg");
    background-repeat: no-repeat;
    background-position: center center;
}

#custom-bluetooth.disconnected {
    background: url("./resources/img/bluetooth-disconnected.svg");
    background-repeat: no-repeat;
    background-position: center center;
}

#custom-bluetooth.connected {
    background: url("./resources/img/bluetooth-connected.svg");
    background-repeat: no-repeat;
    background-position: center center;
}

#custom-power {
    padding: 8px 0px 8px 20px;
    background-position: center center;
    font-size: 14px;
    border-bottom: 1px solid @theme-red;
    background-color: @theme-dark;
    background-image: url("./resources/img/power.svg");
    background-repeat: no-repeat;
    margin-right: 5px;
}

tooltip.background {
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    border: none;
}

tooltip.background.csd {
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    border: none;
}

tooltip>box {
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    border: none;
}

tooltip decoration {
    background-color: transparent;
    border-radius: 0;
    border: none;
    box-shadow: none;
}

/* Your visible surface */
tooltip label {
    background-color: rgba(26, 27, 38, 0.8);
    color: #A9B1D6;
    padding: 10px 15px;
    border-radius: 0;
    border: 1px solid #FF9E64;
    box-shadow: none;
}
