[Desktop Entry]
Type=Application
Version=1.0
Name=btop++
Icon=btop
Exec=btop
Terminal=true
Categories=System;Monitor;ConsoleOnly;
Keywords=system;process;task
