[Desktop Entry]
Version=1.0
Name=ChatGpt
Comment=ChatGpt
Exec=webapp-launcher https://chatgpt.com
Terminal=false
Type=Application
Icon=/home/arch/.local/share/applications/icons/chatgpt.png
StartupNotify=true
