[Desktop Entry]
Version=1.0
Name=GitHub
Comment=GitHub
Exec=webapp-launcher https://github.com
Terminal=false
Type=Application
Icon=/home/arch/.local/share/applications/icons/github.png
StartupNotify=true
