[Desktop Entry]
Name=RustRover 2025.2.5
Exec="/home/arch/.local/share/JetBrains/Toolbox/apps/rustrover/bin/rustrover" %u
Version=1.0
Type=Application
Categories=Development;IDE;
Terminal=false
Icon=/home/arch/.local/share/applications/icons/rustrover.svg
Comment=A powerful IDE for Rust
StartupWMClass=jetbrains-rustrover
StartupNotify=true
