[Desktop Entry]
Name=PhpStorm 2025.2.5
Exec="/home/arch/.local/share/JetBrains/Toolbox/apps/phpstorm/bin/phpstorm" %u
Version=1.0
Type=Application
Categories=Development;IDE;
Terminal=false
Icon=/home/arch/.local/share/applications/icons/phpstorm.svg
Comment=A smart IDE for PHP and Web
StartupWMClass=jetbrains-phpstorm
StartupNotify=true
